<footer class="footer">
  <div class="container footer__inner">
    <div>
      <h2>SGK Thüringen</h2>
      <nav aria-label="Rechtliches und weitere Seiten">
        <ul>
          <li><a href="/impressum/">Impressum</a></li>
          <li><a href="/datenschutz/">Datenschutz</a></li>
          <li><a href="/barrierefreiheit/">Barrierefreiheit</a></li>
          <li><a href="/newsletter/">Info-Brief</a></li>
          <li><a href="/kontakt/">Kontakt</a></li>
        </ul>
      </nav>
    </div>
    <div class="meta">
      <p>Sozialdemokratische Gemeinschaft für Kommunalpolitik<br>im Freistaat Thüringen e.V.</p>
      <p>© 2026 SGK Thüringen</p>
    </div>
  </div>
</footer>
